.main{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding: 64px 70px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card{
    max-width: 1080px;
    margin: auto;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

.inputContainer{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    input, select{
        width: 100%;
        height: 48px;
        font-size: 16px;
        line-height: 16px;
        padding: 8px 16px;
        outline: none;
        border: 1px solid #00000025;
        border-radius: 4px;
    }

    input:focus{
        outline: none;
        border: 1px solid #ffc700;
    }
    button{
        height: 48px;
        font-size: 16px;
        line-height: 16px;
        padding: 8px 16px;
        border-radius: 4px;
        border: none;
        background-color: rgb(0, 136, 235);
        color: #fff;

    }
    button{
        cursor: pointer;
    }
}

.resultsContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.resultado{
    background-color: rgb(72, 72, 73);
    color: #fff;
    padding: 8px;
}